// =========================== SASS PARTIALS ====================== \\

// FONTS:
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/coluna');

// CSS RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

html {
    scroll-behavior: smooth;

}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


// COLORS
$white-text: #F5F5F5;
$hero-text: #DAD8D4;
$old-paper: #EDD9A9;
$black: #1E1C1C;
$slider-title: #F1EEE6;




// MIXINS
@mixin old_standard_font($weight: 400, $size: 16, $style: normal) {
    font-family: "Old Standard TT", serif;
    font-weight: $weight;
    font-style: $style;
    font-size: #{$size}px;
}

@mixin unifraktur_font($weight: 400, $size: 16, $style: normal) {
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: $weight;
    font-style: $style;
    font-size: #{$size}px;
}


// DYNAMIC HERO SECTION
@mixin hero-bg($url: " ", $color: black, $invert: 0, ) {
    .bg {
        width: 100%;
        min-height: 400px;
        background-image: url($url);
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        h1 {

            text-align: center;
            color: $color;
        }

        a {
            position: absolute;
            filter: invert($invert);


            img {
                max-width: 50px;
            }
        }

        .to-home {
            transform: rotate(180deg);
            top: 3rem;
            left: 0.2rem;

        }

        .to-content {
            left: 50%;
            bottom: 3rem;
            transform: translateX(-50%);
            animation: animate 2s ease-in-out infinite;
        }
    }

    @media only screen and (min-width: 768px) {
        .bg {
            height: 100vh;

            h1 {

                animation: title-fade 4s ease;

            }


            a {
                position: absolute;

                img {
                    max-width: 100px;
                }
            }

            .to-home {
                transform: rotate(180deg);
                top: 6rem;
                left: 1rem;

            }

            .to-content {
                left: 50%;
                bottom: 6rem;
                transform: translateX(-50%);
                animation: animate 2s ease-in-out infinite;
            }
        }
    }

    // ANIMATION
    @keyframes animate {
        0% {
            transform: translateX(-50%) translateY(0);

        }

        50% {
            transform: translateX(-50%) translateY(-20px);

        }

        100% {
            transform: translateX(-50%) translateY(0);

        }
    }

    @keyframes title-fade {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

}