@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.cdnfonts.com/css/coluna");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

html {
  scroll-behavior: smooth;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

main {
  background-color: #1E1C1C;
}

.light {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(circle at var(--x) var(--y), transparent 10%, rgba(0, 0, 0, 0.95) 20%);
  z-index: 2;
}

.fade {
  animation: fade 1s ease-in;
}

.hidden-left {
  animation: hidden-left 0.5s ease-in;
}

.hidden-right {
  animation: hidden-right 0.5s ease-in;
}

@keyframes hidden-left {
  from {
    opacity: 0.5;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}
@keyframes hidden-right {
  from {
    opacity: 0.5;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}
@keyframes bannermove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
    /* Start position */
  }
  50% {
    transform: translateY(-10px);
    /* Move up */
  }
  100% {
    transform: translateY(0);
    /* Return to start position */
  }
}
.inView-left {
  opacity: 0.5;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);
}

.inView-right {
  opacity: 0.5;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(100%);
}

.inView-y {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateY(50%);
}

.inView-show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transform: translateX(0);
}

@media (prefers-reduce-motion) {
  .inView-right,
  .inView-left,
  .hidden-y {
    transition: none;
  }
}
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
/* small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  main {
    height: 100vh;
  }
  main nav {
    padding: 2rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }
  main nav ul {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0.8rem 0;
  }
  main nav ul li {
    margin: 0.2rem 0.5rem;
  }
  main nav ul li a {
    color: #F5F5F5;
    transition: transform 0.3s ease;
    display: inline-block;
  }
  main nav form {
    display: flex;
    align-items: center;
    align-items: stretch;
    max-width: 500px;
    padding: 5px;
    background-color: #EDD9A9;
    border-radius: 10px;
  }
  main nav form input {
    background-color: #EDD9A9;
    height: 30px;
    padding: 0 0 0 10px;
  }
  main nav form input:focus {
    outline: none;
  }
  main nav form button {
    background-color: #EDD9A9;
    display: flex;
    align-items: center;
  }
  main nav form button img {
    border-left: 2px solid #1E1C1C;
    padding: 0 8px;
  }
  main .hero {
    color: #DAD8D4;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }
  main .hero div .text-container {
    margin: 20% 4% 0 4%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  main .hero div .text-container span {
    font-size: 60px;
  }
  main .hero .seemore {
    margin-top: auto;
    animation: moveUpDown 2s ease-in-out infinite;
  }
  main .hero .seemore span {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .hero .seemore span img {
    width: 2rem;
    transform: rotate(90deg);
  }
  .slideshow-container {
    overflow: hidden;
    z-index: 3;
    max-width: 100vw;
    height: 100vh;
    position: relative;
    margin: auto;
    background-color: black;
    color: #F5F5F5;
    /* Next & previous buttons */
    /* Position the "next button" to the right */
    /* On hover, add a black background color with a little bit see-through */
    /* The dots/bullets/indicators */
  }
  .slideshow-container .mySlides {
    display: none;
  }
  .slideshow-container .mySlides:nth-child(1) {
    background-image: url("/assets/images/chupacabra.png");
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slideshow-container .mySlides:nth-child(2) {
    background-image: url("/assets/images/anabelle.png");
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slideshow-container .mySlides:nth-child(3) {
    background-image: url("/assets/images/axeman.png");
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slideshow-container .mySlides:nth-child(4) {
    background-image: url("/assets/images/maryceleste.png");
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slideshow-container .mySlides:nth-child(5) {
    background-image: url("/assets/images/bellwitch.png");
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slideshow-container .mySlides .slider-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .slideshow-container .mySlides .slider-content div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
  }
  .slideshow-container .mySlides .slider-content div .slider-title {
    display: inline-block;
    text-align: start;
    max-width: 600px;
    max-height: 470px;
    font-family: "Coluna", sans-serif;
    color: #F1EEE6;
    font-size: 18vw;
    word-wrap: break-word;
    line-height: 1;
  }
  .slideshow-container .mySlides .slider-content div .content-right {
    max-width: 525px;
    max-height: 520px;
    background: rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    border: 1px rgba(0, 0, 0, 0.22) solid;
    -webkit-backdrop-filter: blur(7.2px);
            backdrop-filter: blur(7.2px);
    padding: 25px;
    word-wrap: break-word;
  }
  .slideshow-container .mySlides .slider-content div .content-right .slider-subtitle {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-size: 7vw;
  }
  .slideshow-container .mySlides .slider-content div .content-right p {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-size: 4.5vw;
    margin: 10px 0 15px 0;
  }
  .slideshow-container .mySlides .slider-content div .content-right .slider-buttons {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }
  .slideshow-container .mySlides .slider-content div .content-right .slider-buttons button {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    padding: 5px 12px;
    border-radius: 5px;
  }
  .slideshow-container .mySlides .slider-content div .content-right .slider-buttons button:nth-child(1) {
    background-color: #EDD9A9;
    color: #1E1C1C;
  }
  .slideshow-container .mySlides .slider-content div .content-right .slider-buttons button:nth-child(2) {
    background-color: transparent;
    color: #EDD9A9;
    border: 1.5px solid #EDD9A9;
  }
  .slideshow-container .prev,
  .slideshow-container .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .slideshow-container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .slideshow-container .prev:hover,
  .slideshow-container .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .slideshow-container .dots {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 2%;
    width: 125px;
  }
  .slideshow-container .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .slideshow-container .active,
  .slideshow-container .dot:hover {
    background-color: #aaaaaa;
  }
  .banner-section {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #EDD9A9;
  }
  .banner-section .banner-article {
    margin: 1rem 0;
    display: flex;
    width: 200%;
    animation: bannermove 30s linear infinite;
  }
  .banner-section .banner-article .banner-div {
    width: 100%;
  }
  .banner-section .banner-article .banner-div .banner-ul {
    display: flex;
    padding-left: 0;
    margin: 0;
  }
  .banner-section .banner-article .banner-div .banner-ul .banner-li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-section .banner-article .banner-div .banner-ul .banner-li img {
    width: 250px;
    height: auto;
  }
  .about-us {
    z-index: 3;
    position: relative;
    background-color: #1E1C1C;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: white;
    height: 80vh;
    max-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
  }
  .about-us div {
    display: flex;
    flex-direction: column;
  }
  .about-us div span {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #EDD9A9;
    font-size: 15vw;
    margin-bottom: 10px;
  }
  .about-us div .about-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-us div .about-content div {
    position: relative;
  }
  .about-us div .about-content div p {
    text-align: center;
  }
  .about-us div .about-content div img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    opacity: 0;
    transition: opacity 0.75s ease-in;
  }
  .about-us div .about-content div .show-img {
    opacity: 1;
  }
  .about-us div .about-content button {
    margin-top: 1.5rem;
    max-width: -moz-fit-content;
    max-width: fit-content;
    background-color: #EDD9A9;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 12px;
  }
  .discussion-section {
    height: -moz-fit-content;
    height: fit-content;
    padding: 2rem 0;
    background-color: #1E1C1C;
    color: #DAD8D4;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .discussion-section h2 {
    color: #F5F5F5;
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-size: 12vw;
  }
  .discussion-section .discussion {
    max-width: 80%;
    margin: 2.5rem 0;
  }
  .discussion-section .discussion .disc-sender {
    font-weight: 700;
    font-size: 5vw;
  }
  .discussion-section .discussion .disc-title {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    font-size: 7vw;
    color: #F5F5F5;
    margin: 0.5rem 0;
  }
  .discussion-section .discussion p {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-size: 4.5vw;
  }
  .discussion-section .discussion p a {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    color: #F5F5F5;
    font-size: 4.5vw;
  }
  footer {
    z-index: 3;
    position: relative;
    background-color: #EDD9A9;
    display: flex;
    justify-content: center;
    height: -moz-fit-content;
    height: fit-content;
  }
  footer section {
    margin: 2rem 0;
    width: 80%;
    height: -moz-fit-content;
    height: fit-content;
  }
  footer section hr {
    background-color: white;
    height: 1px;
    width: 100%;
    margin: 1rem 0;
  }
  footer section .footer-head {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0.5 rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }
  footer section .footer-head div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer section .footer-head ul {
    display: flex;
  }
  footer section .footer-head ul li {
    background-color: #F5F5F5;
    padding: 10px;
    border-radius: 5px;
    margin: 0 0.4rem;
  }
  footer section .footer-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer section .footer-content div {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer section .footer-content div p {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    font-size: 5vw;
    margin: 0 0 1rem 0;
    text-align: center;
  }
  footer section .footer-content div .login {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #1E1C1C;
  }
  footer section .footer-content div .login a {
    font-weight: 700;
    color: black;
  }
  footer section .footer-content div form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  footer section .footer-content div form span {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  footer section .footer-content div form input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 25px;
    margin: 0.5rem 0;
    border: 1px solid #EDD9A9;
    font-size: 1rem;
  }
  footer section .footer-content div form .signup {
    margin: 1rem 0;
    max-width: 200px;
    background-color: transparent;
    border: 1px #1E1C1C solid;
    cursor: pointer;
  }
  footer section .footer-foot {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0 0 0.2rem 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }
  footer section .footer-foot .copyright {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  footer section .footer-foot div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer section .footer-foot div ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  footer section .footer-foot div ul li {
    margin: 0.2rem 0.5rem;
  }
  footer section .footer-foot div ul li a {
    color: #1E1C1C;
  }
}
/* Medium devices (landscape tablets, between 600px and 991px ) */
@media only screen and (min-width: 600px) and (max-width: 991px) {
  main {
    height: 100vh;
  }
  main nav {
    padding: 2rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }
  main nav ul {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0.8rem 0;
  }
  main nav ul li {
    margin: 0.2rem 0.5rem;
  }
  main nav ul li a {
    color: #F5F5F5;
    transition: transform 0.3s ease;
    display: inline-block;
  }
  main nav form {
    display: flex;
    align-items: center;
    align-items: stretch;
    max-width: 500px;
    padding: 5px;
    background-color: #EDD9A9;
    border-radius: 10px;
  }
  main nav form input {
    background-color: #EDD9A9;
    height: 30px;
    padding: 0 0 0 10px;
  }
  main nav form input:focus {
    outline: none;
  }
  main nav form button {
    background-color: #EDD9A9;
    display: flex;
    align-items: center;
  }
  main nav form button img {
    border-left: 2px solid #1E1C1C;
    padding: 0 8px;
  }
  main .hero {
    color: #DAD8D4;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }
  main .hero div .text-container {
    margin: 20% 4% 0 4%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  main .hero div .text-container span {
    font-size: 60px;
  }
  main .hero .seemore {
    margin-top: auto;
    animation: moveUpDown 2s ease-in-out infinite;
  }
  main .hero .seemore span {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .hero .seemore span img {
    width: 2rem;
    transform: rotate(90deg);
  }
  .slideshow-container {
    overflow: hidden;
    z-index: 3;
    max-width: 100vw;
    height: 100vh;
    position: relative;
    margin: auto;
    background-color: black;
    /* Next & previous buttons */
    /* Position the "next button" to the right */
    /* On hover, add a black background color with a little bit see-through */
    /* The dots/bullets/indicators */
  }
  .slideshow-container .mySlides {
    display: none;
  }
  .slideshow-container .mySlides:nth-child(1) {
    background-image: url("/assets/images/chupacabra.png");
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slideshow-container .mySlides:nth-child(2) {
    background-image: url("/assets/images/anabelle.png");
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slideshow-container .mySlides:nth-child(3) {
    background-image: url("/assets/images/axeman.png");
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slideshow-container .mySlides:nth-child(4) {
    background-image: url("/assets/images/maryceleste.png");
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slideshow-container .mySlides:nth-child(5) {
    background-image: url("/assets/images/bellwitch.png");
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slideshow-container .mySlides .slider-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: white;
  }
  .slideshow-container .mySlides .slider-content div {
    display: flex;
    justify-content: space-between;
  }
  .slideshow-container .mySlides .slider-content div .slider-title {
    display: inline-block;
    text-align: start;
    max-width: 600px;
    max-height: 470px;
    margin-left: 2rem;
    font-family: "Coluna", sans-serif;
    color: #F1EEE6;
    font-size: 20vw;
    word-wrap: break-word;
    line-height: 1;
  }
  .slideshow-container .mySlides .slider-content div .content-right {
    display: inline-block;
    width: 525px;
    max-height: 500px;
    background: rgba(0, 0, 0, 0.37);
    border-radius: 10px 0 0 10px;
    border: 1px rgba(0, 0, 0, 0.22) solid;
    -webkit-backdrop-filter: blur(7.2px);
            backdrop-filter: blur(7.2px);
    padding: 20px;
    word-wrap: break-word;
  }
  .slideshow-container .mySlides .slider-content div .content-right .slider-subtitle {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-size: 5vw;
  }
  .slideshow-container .mySlides .slider-content div .content-right p {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin: 10px 0 40px 0;
  }
  .slideshow-container .mySlides .slider-content div .content-right .slider-buttons {
    justify-content: start;
    gap: 1.5rem;
  }
  .slideshow-container .mySlides .slider-content div .content-right .slider-buttons button {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    padding: 5px 12px;
    border-radius: 5px;
  }
  .slideshow-container .mySlides .slider-content div .content-right .slider-buttons button:nth-child(1) {
    background-color: #EDD9A9;
    color: #1E1C1C;
  }
  .slideshow-container .mySlides .slider-content div .content-right .slider-buttons button:nth-child(2) {
    background-color: transparent;
    color: #EDD9A9;
    border: 1.5px solid #EDD9A9;
  }
  .slideshow-container .prev,
  .slideshow-container .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .slideshow-container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .slideshow-container .prev:hover,
  .slideshow-container .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .slideshow-container .dots {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 10%;
    width: 125px;
  }
  .slideshow-container .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .slideshow-container .active,
  .slideshow-container .dot:hover {
    background-color: #aaaaaa;
  }
  .banner-section {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #EDD9A9;
  }
  .banner-section .banner-article {
    margin: 1rem 0;
    display: flex;
    width: 200%;
    animation: bannermove 30s linear infinite;
  }
  .banner-section .banner-article .banner-div {
    width: 100%;
  }
  .banner-section .banner-article .banner-div .banner-ul {
    display: flex;
    padding-left: 0;
    margin: 0;
  }
  .banner-section .banner-article .banner-div .banner-ul .banner-li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-section .banner-article .banner-div .banner-ul .banner-li img {
    width: 250px;
    height: auto;
  }
  .about-us {
    z-index: 3;
    position: relative;
    background-color: #1E1C1C;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: white;
    height: -moz-fit-content;
    height: fit-content;
    max-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 3rem;
  }
  .about-us div {
    display: flex;
    flex-direction: column;
  }
  .about-us div span {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    color: #EDD9A9;
    margin-bottom: 10px;
  }
  .about-us div .about-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-us div .about-content div {
    position: relative;
  }
  .about-us div .about-content div p {
    text-align: center;
  }
  .about-us div .about-content div img {
    width: 100%;
    max-height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    opacity: 0;
    transition: opacity 0.75s ease-in;
  }
  .about-us div .about-content div .show-img {
    opacity: 1;
  }
  .about-us div .about-content button {
    margin-top: 1.5rem;
    max-width: -moz-fit-content;
    max-width: fit-content;
    background-color: #EDD9A9;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 12px;
  }
  .discussion-section {
    height: -moz-fit-content;
    height: fit-content;
    padding: 5rem 0;
    background-color: #1E1C1C;
    color: #DAD8D4;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .discussion-section h2 {
    color: #F5F5F5;
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
  }
  .discussion-section .discussion {
    max-width: 80%;
    margin: 2.5rem 0;
  }
  .discussion-section .discussion .disc-sender {
    font-weight: 700;
    font-size: 20px;
  }
  .discussion-section .discussion .disc-title {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 38px;
    margin: 0.5rem 0;
  }
  .discussion-section .discussion p {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
  }
  .discussion-section .discussion p a {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    text-decoration: none;
    color: #F5F5F5;
  }
  footer {
    z-index: 3;
    position: relative;
    background-color: #EDD9A9;
    display: flex;
    justify-content: center;
    height: -moz-fit-content;
    height: fit-content;
  }
  footer section {
    margin: 2rem 0;
    width: 80%;
    height: -moz-fit-content;
    height: fit-content;
  }
  footer section hr {
    background-color: white;
    height: 1px;
    width: 100%;
    margin: 1rem 0;
  }
  footer section .footer-head {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0.5 rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }
  footer section .footer-head div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer section .footer-head ul {
    display: flex;
  }
  footer section .footer-head ul li {
    background-color: #F5F5F5;
    padding: 10px;
    border-radius: 5px;
    margin: 0 0.4rem;
  }
  footer section .footer-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer section .footer-content div {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer section .footer-content div p {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    font-size: 5vw;
    margin: 0 0 1rem 0;
    text-align: center;
  }
  footer section .footer-content div .login {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #1E1C1C;
  }
  footer section .footer-content div .login a {
    font-weight: 700;
    color: black;
  }
  footer section .footer-content div form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  footer section .footer-content div form span {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  footer section .footer-content div form input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 25px;
    margin: 0.5rem 0;
    border: 1px solid #EDD9A9;
    font-size: 1rem;
  }
  footer section .footer-content div form .signup {
    margin: 1rem 0;
    max-width: 200px;
    background-color: transparent;
    border: 1px #1E1C1C solid;
    cursor: pointer;
  }
  footer section .footer-foot {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0 0 0.2rem 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }
  footer section .footer-foot .copyright {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  footer section .footer-foot div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer section .footer-foot div ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  footer section .footer-foot div ul li {
    margin: 0.2rem 0.5rem;
  }
  footer section .footer-foot div ul li a {
    color: #1E1C1C;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  main nav {
    display: flex;
    align-items: center;
    padding: 0 5rem;
    height: 15vh;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }
  main nav ul {
    margin: 0 auto;
  }
  main nav ul li {
    display: inline;
    margin: 0 14px;
  }
  main nav ul li a {
    color: #F5F5F5;
    transition: transform 0.3s ease;
    display: inline-block;
  }
  main nav ul li a:hover {
    transform: scale(1.1);
    animation: shake 0.5s infinite alternate;
  }
  main nav form {
    display: flex;
    align-items: center;
    align-items: stretch;
    max-width: 500px;
    padding: 5px;
    background-color: #EDD9A9;
    border-radius: 10px;
  }
  main nav form input {
    background-color: #EDD9A9;
    height: 30px;
    padding: 0 0 0 10px;
  }
  main nav form input:focus {
    outline: none;
  }
  main nav form button {
    background-color: #EDD9A9;
    display: flex;
    align-items: center;
  }
  main nav form button img {
    border-left: 2px solid #1E1C1C;
    padding: 0 8px;
  }
  main .hero {
    height: 85vh;
    max-height: 1000px;
    color: #DAD8D4;
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .hero .seemore {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    animation: moveUpDown 2s ease-in-out infinite;
  }
  main .hero .seemore span {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .hero .seemore span img {
    width: 2rem;
    transform: rotate(90deg);
  }
  main .hero div {
    margin-top: 50px;
    width: 80%;
  }
  main .hero div .text-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    min-width: 720px;
    max-width: 980px;
    height: auto;
    font-size: 8.5vw;
    flex-wrap: wrap;
  }
  main .hero div .text-container span:nth-child(2) {
    font-size: 96px;
  }
  .slideshow-container {
    overflow: hidden;
    z-index: 3;
    max-width: 100vw;
    height: 100vh;
    position: relative;
    margin: auto;
    background-color: black;
    /* Next & previous buttons */
    /* Position the "next button" to the right */
    /* On hover, add a black background color with a little bit see-through */
    /* The dots/bullets/indicators */
  }
  .slideshow-container .mySlides {
    display: none;
  }
  .slideshow-container .mySlides:nth-child(1) {
    background-image: url("/assets/images/chupacabra.png");
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slideshow-container .mySlides:nth-child(2) {
    background-image: url("/assets/images/anabelle.png");
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slideshow-container .mySlides:nth-child(3) {
    background-image: url("/assets/images/axeman.png");
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slideshow-container .mySlides:nth-child(4) {
    background-image: url("/assets/images/maryceleste.png");
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slideshow-container .mySlides:nth-child(5) {
    background-image: url("/assets/images/bellwitch.png");
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slideshow-container .mySlides .slider-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: white;
  }
  .slideshow-container .mySlides .slider-content div {
    display: flex;
    justify-content: space-between;
  }
  .slideshow-container .mySlides .slider-content div .slider-title {
    display: inline-block;
    text-align: start;
    max-width: 600px;
    max-height: 470px;
    margin-left: 2rem;
    font-family: "Coluna", sans-serif;
    color: #F1EEE6;
    font-size: 250px;
    word-wrap: break-word;
    line-height: 1;
  }
  .slideshow-container .mySlides .slider-content div .content-right {
    display: inline-block;
    width: 525px;
    background: rgba(0, 0, 0, 0.37);
    border-radius: 10px 0 0 10px;
    border: 1px rgba(0, 0, 0, 0.22) solid;
    -webkit-backdrop-filter: blur(7.2px);
            backdrop-filter: blur(7.2px);
    padding: 70px 50px;
    word-wrap: break-word;
  }
  .slideshow-container .mySlides .slider-content div .content-right .slider-subtitle {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
  }
  .slideshow-container .mySlides .slider-content div .content-right p {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin: 10px 0 40px 0;
  }
  .slideshow-container .mySlides .slider-content div .content-right .slider-buttons {
    justify-content: start;
    gap: 1.5rem;
  }
  .slideshow-container .mySlides .slider-content div .content-right .slider-buttons button {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    padding: 5px 12px;
    border-radius: 5px;
  }
  .slideshow-container .mySlides .slider-content div .content-right .slider-buttons button:nth-child(1) {
    background-color: #EDD9A9;
    color: #1E1C1C;
  }
  .slideshow-container .mySlides .slider-content div .content-right .slider-buttons button:nth-child(2) {
    background-color: transparent;
    color: #EDD9A9;
    border: 1.5px solid #EDD9A9;
  }
  .slideshow-container .prev,
  .slideshow-container .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .slideshow-container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .slideshow-container .prev:hover,
  .slideshow-container .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .slideshow-container .dots {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 10%;
    width: 125px;
  }
  .slideshow-container .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .slideshow-container .active,
  .slideshow-container .dot:hover {
    background-color: #aaaaaa;
  }
  .banner-section {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #EDD9A9;
  }
  .banner-section .banner-article {
    margin: 4rem 0;
    display: flex;
    width: 200%;
    animation: bannermove 30s linear infinite;
  }
  .banner-section .banner-article .banner-div {
    width: 100%;
  }
  .banner-section .banner-article .banner-div .banner-ul {
    display: flex;
    padding-left: 0;
    margin: 0;
  }
  .banner-section .banner-article .banner-div .banner-ul .banner-li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-section .banner-article .banner-div .banner-ul .banner-li .banner-li img {
    display: block;
    width: 100%;
  }
  .about-us {
    z-index: 3;
    position: relative;
    background-color: #1E1C1C;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: white;
    height: 80vh;
    max-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
  }
  .about-us div {
    display: flex;
  }
  .about-us div span {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 128px;
    color: #EDD9A9;
  }
  .about-us div .about-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .about-us div .about-content div {
    position: relative;
  }
  .about-us div .about-content div img {
    width: 100%;
    max-height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    opacity: 0;
    transition: opacity 0.75s ease-in;
  }
  .about-us div .about-content div .show-img {
    opacity: 1;
  }
  .about-us div .about-content button {
    margin-top: 1.5rem;
    max-width: -moz-fit-content;
    max-width: fit-content;
    background-color: #EDD9A9;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px 12px;
  }
  .discussion-section {
    height: -moz-fit-content;
    height: fit-content;
    padding: 5rem 0;
    background-color: #1E1C1C;
    color: #DAD8D4;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .discussion-section h2 {
    color: #F5F5F5;
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
  }
  .discussion-section .discussion {
    max-width: 80%;
    margin: 2.5rem 0;
  }
  .discussion-section .discussion .disc-sender {
    font-weight: 700;
    font-size: 20px;
  }
  .discussion-section .discussion .disc-title {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 38px;
    margin: 0.5rem 0;
  }
  .discussion-section .discussion p {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
  }
  .discussion-section .discussion p a {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    text-decoration: none;
    color: #F5F5F5;
  }
  footer {
    z-index: 3;
    position: relative;
    background-color: #EDD9A9;
    display: flex;
    justify-content: center;
    height: -moz-fit-content;
    height: fit-content;
  }
  footer section {
    margin: 5rem 0;
    width: 80%;
    height: -moz-fit-content;
    height: fit-content;
  }
  footer section hr {
    background-color: white;
    height: 1px;
    width: 100%;
    margin: 1rem 0;
  }
  footer section .footer-head {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
  }
  footer section .footer-head div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer section .footer-head ul {
    display: flex;
  }
  footer section .footer-head ul li {
    background-color: #F5F5F5;
    padding: 10px;
    border-radius: 5px;
    margin: 0 0.4rem;
  }
  footer section .footer-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer section .footer-content div {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer section .footer-content div p {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    margin: 0 0 2rem 0;
  }
  footer section .footer-content div .login {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #1E1C1C;
  }
  footer section .footer-content div .login a {
    font-weight: 700;
    color: black;
  }
  footer section .footer-content div form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
  }
  footer section .footer-content div form span {
    width: 100%;
    display: flex;
    gap: 0.5rem;
  }
  footer section .footer-content div form input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 25px;
    margin: 0.5rem 0;
    border: 1px solid #EDD9A9;
    font-size: 1rem;
  }
  footer section .footer-content div form .signup {
    margin: 1rem 0;
    max-width: 200px;
    background-color: transparent;
    border: 1px #1E1C1C solid;
    cursor: pointer;
  }
  footer section .footer-foot {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }
  footer section .footer-foot .copyright {
    font-size: 1.2rem;
  }
  footer section .footer-foot div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer section .footer-foot div ul {
    display: flex;
  }
  footer section .footer-foot div ul li {
    margin: 0 0.5rem;
  }
  footer section .footer-foot div ul li a {
    color: #1E1C1C;
  }
}/*# sourceMappingURL=styles.css.map */