@import "../starters";


@include hero-bg($color: $slider-title);

h1 {
    font-family: 'Coluna', sans-serif;
    color: $slider-title;
    font-size: 18vw;
    text-align: center;

}

.title-banner {
    background-color: $black;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        color: $old-paper;
        @include unifraktur_font($size: 60);
        padding: 30px 0;
    }
}

// TERTILE
.tertile {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    width: 100%;
    background-color: $slider-title;
    height: fit-content;

    p {
        @include old_standard_font($size: 22);

        span {
            @include old_standard_font($size: 30, $weight: 700);
        }

    }

    .a {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .b {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            margin: 2rem 0;
            min-width: 50px;
        }
    }

    .c {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


// information
.information {
    background-color: #030303;
    color: $white-text;
    padding: 4rem 4rem 5rem 4rem;
    position: relative;

    h3 {
        @include unifraktur_font($size: 30);
        margin-bottom: 2rem;
    }

    p {
        @include old_standard_font($size: 20);
    }

    .more {
        display: none;
    }

    .seemore {
        position: absolute;
        cursor: pointer;
        left: 50%;
        bottom: 0.8rem;
        transform: translateX(-50%);

        span {
            @include old_standard_font();

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            button {
                background: none;
                border: none;
            }

            img {
                width: 2rem;
                transform: rotate(90deg);
            }
        }
    }
}


// news
.news {
    background-color: $old-paper;
    height: fit-content;
    width: 100%;

    .news-img {

        img {
            width: 100%;

        }
    }

    h1 {
        @include unifraktur_font($size: 60);
        color: $black;
        margin: 2rem 0;
    }

    hr {
        width: 92%;
        margin: 0 auto;
        border-top: 8px solid #474242;
        padding-top: 10px;
        border-bottom: 5px solid #474242;

    }

    .news-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 4rem 0;

        div {
            &:nth-child(1) {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-bottom: 5rem;
                // background-color: red;
            }

            &:nth-child(2) {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column-reverse;
                // background-color: blue;
            }

            p {
                width: 90%;
                margin: 0 0 1rem 0;
                @include old_standard_font($size: 24);
                text-align: center;

                span {
                    @include old_standard_font($size: 36, $weight: 700);
                    display: block;
                    margin-bottom: 0.5rem;


                }
            }

            img {

                width: 80vw;
                margin: 0 1rem;
            }
        }
    }

}


// comments
footer {
    background-color: $black;
    width: 100%;
    height: fit-content;
    color: $white-text;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 0;

    h3 {
        @include unifraktur_font($size: 64);

    }

    .footer-content {
        width: 100%;

        .comment {
            // background-color: blue;
            margin: 2rem auto;
            width: 80%;


            .user {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                // background-color: red;

                div {
                    // background: greenyellow;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    a {
                        color: $white-text;
                    }


                    .profile {
                        display: inline-block;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: white;
                        margin-right: 0.5rem;
                    }
                }


            }

            p {
                // background-color: red;
                padding-left: 3rem;
                margin-bottom: 0.5rem;
            }

            .comments-icons {
                // background-color: green;
                padding-left: 3rem;

                img {
                    cursor: pointer;
                    width: 30px;
                    margin: 0 0.25rem;
                }
            }

        }
    }
}

// === DIFFERENT SECTION LAYOUT ==== \\ 
.grid-container {
    background-color: $old-paper;
    padding: 2rem 1rem;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3 {
        @include unifraktur_font($size: 40);
        margin: 2rem 0;
        text-align: center;

    }




    .grid {
        display: grid;
        grid-template-columns: 1fr;
        /* Three columns by default */
        gap: 10px;
        width: 100%;


        div {
            // background-color: red;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .grid-img {
                max-width: 90%;
                cursor: pointer;
            }


            p {
                text-align: center;
                margin: 0.5rem 1rem 1rem 1rem;
                @include old_standard_font($size: 18);


            }

        }
    }
}

.grid-hidden {
    display: none;
}



// ==================== MEDIA QUERY ================= \\  

// tablet
@media only screen and (min-width: 768px) {

    .title-banner {

        h2 {
            padding: 52px 0;
            @include unifraktur_font($size: 96);
        }
    }

    // TERTILE
    .tertile {
        display: flex;
        padding: 2rem 1.5rem;
        width: 100%;
        height: fit-content;


        p {
            @include old_standard_font($size: 24);

            span {
                @include old_standard_font($size: 48, $weight: 700);
            }
        }

        .a {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        .b {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                margin: 2rem 1rem;

            }

        }

        .c {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    // information
    .information {

        padding: 5rem 10rem 7rem 10rem;


        h3 {
            @include unifraktur_font($size: 40);
            margin-bottom: 2rem;
        }

        p {
            @include old_standard_font($size: 24);
        }

        .seemore {
            bottom: 1.2rem;
        }
    }

    // news
    .news {
        h1 {
            @include unifraktur_font($size: 90);
            color: $black;
            margin: 2rem 0;
        }

        .news-content {

            div {

                img {
                    max-width: 500px;
                }
            }
        }
    }

    // dynamic section
    .grid-container {

        h3 {
            @include unifraktur_font($size: 48);
            margin: 2rem 0;

        }

        .grid {
            grid-template-columns: repeat(2, 1fr);
            /* Two columns for medium screens */

            div {

                p {
                    text-align: start;
                }
            }


        }
    }
}

// desktop
// tablet
@media only screen and (min-width: 992px) {
    .tertile {
        flex-direction: row;
    }

    // news
    .news {
        h1 {
            @include unifraktur_font($size: 128);
            color: $black;
            margin: 2rem 0;
        }

        .news-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 4rem 0;

            div {
                &:nth-child(1) {

                    flex-direction: row;
                    margin-bottom: 0;

                }

                &:nth-child(2) {

                    flex-direction: row;

                }

                p {
                    width: 50%;
                    margin: 0 3rem;
                    @include old_standard_font($size: 24);
                    text-align: start;

                    span {
                        @include old_standard_font($size: 36, $weight: 700);
                        display: block;
                        margin-bottom: 1rem;
                    }
                }

                img {
                    width: 500px;
                }
            }
        }
    }

    // dyanmic section
    .grid-container {
        .grid {

            grid-template-columns: repeat(3, 1fr);

            div {



                img {
                    max-width: 300px;

                }
            }

        }
    }


}